body{
    background-image:url("slike/slika16.png");
    background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position:center;
font-family:"Palatino, URW Palladio L, serif" ;
    }

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        
}

.submit-button{
    background-color: #ebeebe; 
    border: 1px solid #ddd; 
    color: #333; 
    font-size: 1em;
    padding: 10px 15px; 
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    min-height:30px; 
    min-width: 120px;
}
.label{
    font-size: 1em;
    padding: 10px 15px; 
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    min-height:30px; 
    min-width: 120px;
}